POSTGRES_PASSWORD=change-me
JWT_SECRET=change-me
ALLOWED_ORIGINS=https://egin.perricheno.com
NEXT_PUBLIC_API_URL=https://egin-api.perricheno.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
ADMIN_PHONE=+77000000000
ADMIN_PASSWORD=change-me
